* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Open Sans;
}

h1, h2, h3 {
    text-align: center;
}

#questions {
    width: 50%;
    margin: auto;
    border: 4px solid black;
}


.code_snippet {
    font-style: italic;
}